.Footer {
    background-color: #3274b3;
    width: 100%;
    height: 80px;
    display: flex;
    position: sticky;
    bottom: 0;
}

.Footer .left {
    flex: 30%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.Footer .middle {
    flex: 30%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.Footer .right {
    flex: 30%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.Footer .link {
    text-decoration: none;
    color: white;
    font-size: 25px;
}