.container {
    display: flex;
}

.about {
    border-right: 1px solid black;
    text-align: center;
}

.profilePicture {
    padding: 40px;
    border: 0px solid black;
    width: 300px;
    height: 300px;
}

.listings {
    padding: 40px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-content: flex-start;
}

.productImage {
    object-fit: contain;
    height: 400px;
    width: 400px;
}

.productTitle {
    text-decoration: none;
    color: black;
    font-size: 22px;
    font-weight: bold;
}

.productPrice {
    text-decoration: none;
    color: black;
    font-size: 16px;
    font-weight: bold;
}
